
*{
  box-sizing: border-box;
}



.dropdown {
  position: inherit;
  top:0;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  width: 10vw;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: #707070;
  z-index: 999;
}

.dropdown_content{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  font-size: 1rem;
}

li{
  text-decoration: none;  
  list-style: none;
}

.dropdown_items{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  visibility: hidden;
  opacity:0;
  max-height: 0px;
  transition: max-height 0.6s ease;
}

.dropdown  .fa-angle-down{
  font-size:1rem;
}

.dropdown.active .dropdown_items{
  visibility: visible;
  border-top: 1px solid #666;
  height: auto;
  max-height: 200px;
  opacity: 1;
  transition: max-height 0.7s, opacity 3s, visibility 4s ease;
}

.Language-links{
  cursor: pointer;
  padding: 10px 18px;
}
